<h1>All Orders</h1>

<table class="table table-striped">
  <thead>
    <th>Order ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Product</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to "Order #{order.id}", order_path(order) %>
        </td>
        <td>
          <%= order.name %>
        </td>
        <td>
          <%= order.street %>          
          <%= order.city %>
        </td>
        <td>
          <%= order.postcode %>
        </td>
        <td>
          <%= order.product.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>